
@{
    ViewData["Title"] = "EducationGrades";
}
@using myschool.Models
@model List<Grade>
<h1>EducationGrades</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">نام درس</th>
            <th scope="col">ضریب</th>
            <th scope="col">نمره</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Grade g in Model)
        {
            <tr>
                <td>@g.Lecture.Name</td>
                <td>@g.Lecture.Factor</td>
                <td>@g.Score</td>
            </tr>
        }
    </tbody>
</table>